Ques-1 Explain with an example each when to use a for loop and a while loop.

Ans-1 For loop

1-It is used when the number of iterations is known.
2-In case of no condition, the loop is repeated infinite times.
3-Initialization is not repeated.
3-Statement of Iteration is written after running.
4-Initialization can be in or out of the loop.
5-The nature of the increment is simple.
6-Used when initialization is simple.

Example of For loop

In [3]:
num=11
for i in range(1,num):
    print(i)

1
2
3
4
5
6
7
8
9
10

While loop

1-It is used when the number of iterations is not known.
2-In case of no condition, an error will be shown.
3-Initialization is repeated if carried out during the stage of checking.
4-It can be written at any place.
5-Initialization is always out of the loop.
6-The nature of the increment is complex.
7-Used when initialization is complex.

Example of While loop

In [5]:
num=1
while num<11:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

Ques-2 Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [13]:
#While loop
# sum of first 10 natural number
num=10
sum=0
product=1
i=1
while i<=num:
    sum+=i
    product*=i
    i+=1
print("Sum of first 10 natural no. is",sum)
print("Product of first 10 natural no is",product)

Sum of first 10 natural no. is 55
Product of first 10 natural no is 3628800

In [18]:
# By using For loop
# sum of first of 10 natural number
num=10
sum=0
product=1
for i in range(1,num+1):
    sum+=i
    product*=i
print("Sum of first 10 natural no. is",sum)
print("Product of first 10 natural no is",product)

Sum of first 10 natural no. is 55
Product of first 10 natural no is 3628800

# Ans-3

In [21]:
#Electricity bill calculater

unit = int(input("Enter your unit: "))
if unit <= 100:
    bill=unit*4.5
elif unit>=101 and unit<=200:
    bill=(100*4.5)+((unit-100)*6)
elif unit>=201 and unit <=300:
    bill=(100*4.5)+(100*6)+((unit-200)*10)
else:
    bill=(100*4.5)+(100*6)+(100*10)+((unit-300)*20)
print("Electricity bill of this month is",bill)

Enter your unit:  310

Electricity bill of this month is 2250.0

# Ans-4

In [3]:
# List of 1 to 100 by using For loop
l=[]
for i in range(1,101):
        l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
# Cubes of the list 1 to 100 which is divisible by 4 and 5 by using For loop
cubes=[]
for i in l:
    if (i**3)%4==0 or (i**3)%5==0:
        cubes.append(i**3)
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [17]:
# List of 1 to 100 by using While loop
l=[]
x=1
while x<=100:
    l.append(x)
    x+=1
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [16]:
# Cubes of the list 1 to 100 which is divisible by 4 and 5 by using While loop

cubes=[]
i=1
while i<=100:
    if (i**3)%4==0 or(i**3)%5==0:
        cubes.append(i**3)
    i+=1
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Ans-5

In [20]:
# Count the number of vowels in the string
string = "I want to become a data scientist"
vowels=["a","e","i","O","u","A","E","I","O","U"]
count=0

for char in string:
    if char in vowels:
        count+=1
print("Number of vowels in the given string is",count)

Number of vowels in the given string is 10